<div class="container">
<h1>Create Category Form</h1>
<hr>

<form #categoryForm="ngForm" (ngSubmit)="onSubmit()">
    Enter Category Title<br>
    <input #title="ngModel" type="text" name="title" placeholder="Enter Title" required [(ngModel)]="category.title">
    @if(title.invalid && title.touched){
    <span>Title is mandatory</span>
}
    <br>
    Enter Description<br>
    <textarea name ="description" placeholder="Enter Description" required [(ngModel)]="category.description"> </textarea><br>
    <input [disabled]="categoryForm.invalid"  type="submit" value="Submit">
</form>
</div>